CI_ENV=development

DB_HOST=db
DB_ROOT_PASSWORD=root
DB_NAME=ci3_db
DB_USER=ci3_user
DB_PASSWORD=ci3_password

SMTP_PROTOCOL=smtp
SMTP_HOST=smtp.example.com
SMTP_USER=user@example.com
SMTP_PASS=password
SMTP_PORT=465
SMTP_CRYPTO=ssl
SMTP_MAILTYPE=html
SMTP_CHARSET=utf-8
SMTP_FROM_NAME="Ads Aggregator"