CI_ENV=development

DB_HOST=db
DB_ROOT_PASSWORD=root
DB_NAME=ci3_db
DB_USER=ci3_user
DB_PASSWORD=ci3_password

META_SYSTEM_USER_TOKEN=
META_FB_PAGE_ID=
META_IG_ACCOUNT_ID=

GA4_PROPERTY_ID=
GA4_SERVICE_ACCOUNT_JSON=